<?xml version="1.0"?>
<ruleset name="Coding Standard for Traduttore">
	<description>Coding Standard for Traduttore</description>

	<rule ref="Required"/>

	<file>.</file>

	<exclude-pattern>/tests/*</exclude-pattern>
</ruleset>
