<?xml version="1.0"?>
<ruleset name="Coding Standard for Traduttore">
	<description>Coding Standard for Traduttore</description>

	<!-- Check for cross-version support for PHP 7.4 and higher. -->
	<config name="testVersion" value="7.4-" />

	<file>.</file>
	<exclude-pattern>/tests/behat/*</exclude-pattern>
	<exclude-pattern>/tests/features/*</exclude-pattern>
	<exclude-pattern>/tests/phpstan/*</exclude-pattern>
	<exclude-pattern>/tests/phpunit/data/*</exclude-pattern>
	<exclude-pattern>/tests/phpunit/bootstrap.php</exclude-pattern>

	<rule ref="Required">
		<exclude-pattern>/tests/phpunit/tests</exclude-pattern>
	</rule>

	<rule ref="PSR1.Files.SideEffects">
		<exclude-pattern>traduttore\.php</exclude-pattern>
	</rule>

	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="text_domain" type="array">
				<element value="traduttore"/>
			</property>
		</properties>
	</rule>


	<rule ref="WordPress.NamingConventions.PrefixAllGlobals">
		<properties>
			<property name="prefixes" type="array">
				<element value="Required\Traduttore"/>
				<element value="traduttore"/>
			</property>
		</properties>
	</rule>

	<rule ref="WordPress.PHP.DiscouragedPHPFunctions">
		<properties>
			<property name="exclude" type="array">
				<element value="system_calls"/>
			</property>
		</properties>
	</rule>
</ruleset>
