includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
# DREAM    level: max
    level: 5
    inferPrivatePropertyTypeFromConstructor: true
    bootstrapFiles:
        - tests/phpstan/bootstrap.php
        - vendor/php-stubs/wp-cli-stubs/wp-cli-stubs.php
        - wp-content/plugins/glotpress/gp-includes/route.php
        - wp-content/plugins/glotpress/gp-includes/routes/_main.php
    scanDirectories:
        - wp-content/plugins/glotpress/gp-includes/
        - wp-content/plugins/glotpress/locales/
    paths:
        - inc/
#        - test/
    ignoreErrors:
        # Uses func_get_args()
        - '#^Function apply_filters(_ref_array)? invoked with [34567] parameters, 2 required\.$#'
