includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
# DREAM    level: max
    level: 5
    inferPrivatePropertyTypeFromConstructor: true
    bootstrapFiles:
        - tests/phpstan/bootstrap.php
        - vendor/php-stubs/wp-cli-stubs/wp-cli-stubs.php
        - vendor/wordpress-plugin/glotpress/gp-includes/route.php
        - vendor/wordpress-plugin/glotpress/gp-includes/routes/_main.php
    scanDirectories:
        - vendor/wordpress-plugin/glotpress/gp-includes/
        - vendor/wordpress-plugin/glotpress/locales/
    paths:
        - inc/
#        - test/
    ignoreErrors:
        # Uses func_get_args()
        - '#^Function apply_filters(_ref_array)? invoked with [34567] parameters, 2 required\.$#'
        # Upstream issue: https://github.com/GlotPress/GlotPress-WP/pull/1201
        -
            message: '#^Ternary operator condition is always true\.$#'
            path: inc/ProjectLocator.php
            count: 2
        -
            message: '#^Negated boolean expression is always false\.$#'
            paths:
                - inc/Export.php
                - inc/Runner.php
                - inc/ZipProvider.php
