<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="tests/phpunit/bootstrap.php" backupGlobals="false" colors="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd" cacheDirectory=".phpunit.cache">
  <testsuites>
    <testsuite name="Traduttore">
      <directory suffix=".php">./tests/phpunit/tests</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory suffix=".php">inc</directory>
    </include>
  </source>
</phpunit>
