body, input, textarea, select, html, .gp-content, .gp-content textarea, .gp-content input {
	color: #161616;
	font-size: 1em;
	line-height: 1.625;
	font-weight: 300;
}

body {
	border-top: 5px solid #cb1b14;
	background: #efefef;
}

.actionlist a,
.actionlist a:link,
.actionlist a:visited,
.breadcrumb a,
a,
a:link,
a:visited {
	color: #cb1b14;
}

.actionlist a:hover,
.breadcrumb a:hover,
a:hover {
	color: #161616;
}

.gp-bar h1 {
	font-family: 'kepler-std-semicondensed-cap', "Kepler Std Light Semicondensed Caption", Georgia, serif;
	font-size: 1.5625em;
	font-weight: 500;
	color: #161616;
}

table.translations tr.editor,
.gp-bar {
	background: #fff;
}

.gp-bar a {
	color: #161616;
}

.gp-bar nav a {
	border-bottom: 1px solid transparent;
	padding: 1.3em;
}

#side-navigation a:not(:last-child) {
	border-right: 1px solid #ddd;
}

.gp-bar nav a:hover {
	background: #fff;
	border-bottom-color: #cb1b14;
}

.breadcrumb {
	background: #fff;
	border: 1px solid #ddd;
}

.breadcrumb li {
	text-shadow: none;
}

span.active {
	font-weight: 100;
	color: #fff;
	background-color: #cb1b14;
}

.gp-content h2 {
	padding: 0;
}

ul a.edit,
dt a.edit,
.gp-content h2,
.gp-content h3 {
	background-color: transparent;
}

table.translations,
table.translation-sets,
table.glossary,
table.locale-sub-projects,
table.permissions {
	background-color: #fff;
}

table.translations tr:nth-child(4n+3) {
	background-color: #eee;
}

.translations tr.preview:hover,
.translation-sets tr:nth-child(odd):hover,
.locales tr:nth-child(odd):hover,
.translation-sets tr:hover,
.locales tr:hover,
.locale-sub-projects tr:hover td {
	background-color: #e5f5fa;
}

table.translations tr.preview.status-current,
#legend .status-current {
	background-color: #b5e1b9;
}

table.translations tr.preview.status-waiting,
#legend .status-waiting {
	background-color: #ffe399;
}

table.translations tr.preview.status-fuzzy, #legend .status-fuzzy {
	background-color: #fbc5a9;
}

table.translations tr.preview.has-warnings td.original,
div#legend div.has-warnings {
	border-left: 3px solid #dc3232;
}

table.translations tr.preview.status-rejected,
#legend .status-rejected {
	background-color: #f1adad;
}

table.translations tr.preview.status-old,
#legend .status-old {
	background-color: #cdc5e1;
}

.glossary tr.active,
table.translations tr.editor {
	background-color: #fbfbfb;
}

table.translations td.translation span.missing {
	color: #aaa;
	cursor: pointer;
}

#gp-footer {
	display: none;
}

/* Hack: Hide link on project page */
a[href="/languages/"] {
	display: none;
}
